@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}
.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  /* урок 16 */
}
.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}
.section-title {
  font-size: 24px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}
.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}
.input:focus {
  border: 1px solid #ffd200;
  outline: none;
}

/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
  font-size: 13px;
}
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}
.navbar__address {
  display: flex;
  flex-direction: column;
}
.navbar__button {
  margin-left: 30px;
}
.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}
.navbar__button {
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}
/* дз 13 урока */
/* Стили для главного экрана */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.hero-block {
  display: flex;
}
.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}
.hero-text__title {
  font-size: 41px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
}
.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
}
.hero-list {
  margin: 0;
  padding: 0;
}
.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.hero-list__item:last-child {
  margin-bottom: 0;
}
.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
}
.hero-list__text {
  max-width: 300px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
    padding: 10px;
  }
  .hero-text {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 200px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
/* Подключаем шрифты */
@font-face {
  font-family: "Museo Sans Light";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Стили для блока offer */
.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: containe;
  position: relative;
}
.offer:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}
.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
}
.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}
.offer__input {
  margin-bottom: 30px;
  width: 240px;
}
.offer__input:first-child {
  margin-right: 10px;
}
.offer__button {
  width: 100%;
  min-height: 70px;
}
.offer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.6;
}
.offer-contacts__call-back {
  max-width: 200px;
}
.offer-contacts__phone {
  text-decoration: none;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-contacts {
    margin-top: 25px;
    flex-direction: column;
    align-items: start;
  }
  .offer-contacts__call-back {
    max-width: 230px;
  }
}
@media (max-width: 768px) {
  .offer {
    background: white;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    padding-right: 10px;
    line-height: 1.4;
  }
  .offer__button {
    font-family: "Museo Sans Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 60px;
  }
}
/* Стили для блока modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_active {
  display: flex;
}
.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: white;
  padding: 40px;
}
.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.scroll {
  display: flex;
  position: fixed;
  top: 50%;
  left: 95%;
  width: 100%;
  height: 100%;
}
.scroll-block {
  position: relative;
}
.scroll__up {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  font-family: "Museo Sans Bold", sans-serif;
  font-weight: 700;
  background-color: rgba(221, 221, 221, 0.2);
  border: 2px solid #ffd200;
}
.scroll__up:hover {
  background: rgba(221, 221, 221, 0.5);
  border: 4px solid #ffdb33;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */