@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.eot');
	src: local('../fonts/OpenSans/Open Sans Regular'), local('OpenSans-Regular'),
					url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
					url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
					url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Regular';
	src: url('../fonts/BebasRegular/BebasRegular.eot');
	src: local('../fonts/BebasRegular/Bebas Regular'), local('BebasRegular'),
					url('../fonts/BebasRegular/BebasRegular.eot?#iefix') format('embedded-opentype'),
					url('../fonts/BebasRegular/BebasRegular.woff') format('woff'),
					url('../fonts/BebasRegular/BebasRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bad Script';
	src: url('../fonts/BadScript/BadScript-Regular.eot');
	src: local('../fonts/BadScript/Bad Script Regular'), local('BadScript-Regular'),
					url('../fonts/BadScript/BadScript-Regular.eot?#iefix') format('embedded-opentype'),
					url('../fonts/BadScript/BadScript-Regular.woff') format('woff'),
					url('../fonts/BadScript/BadScript-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster/Lobster-Regular.eot');
	src: local('../fonts/Lobster/Lobster Regular'), local('Lobster-Regular'),
					url('../fonts/Lobster/Lobster-Regular.eot?#iefix') format('embedded-opentype'),
					url('../fonts/Lobster/Lobster-Regular.woff') format('woff'),
					url('../fonts/Lobster/Lobster-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.fonts__opensans {
	font-family: 'Open Sans';
}

.fonts__bebas {
	font-family: 'Bebas Regular';
}

.fonts__bad {
	font-family: 'Bad Script';
}

.fonts__lobster {
	font-family: 'Lobster';
}